* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {

  margin: 20px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-left: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

li {
  list-style-type: none;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 30px;
  font-weight: bold;
  line-height: 50px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
}

.square__win{
  background: #a7ff91;
}

.square:hover{
  background: #999;
}

.turn {
  margin-bottom: 10px;
  width:100%;
  text-align: start;
  border:solid;
  border-color: transparent;
  border-radius: 10px;
  background-color: #999;
  padding: 5px;
  font-size: medium;
}

.bot-turn{
  background-color: #f5ffca;
}

.bot-turn:hover{
  background-color: #faffe6;
  border-color:#70745d;
}


.current__turn {
  margin: 0;
  margin-bottom: 10px;
  width:100%;
  text-align: start;
  border:solid;
  border-color: transparent;
  border-radius: 10px;
  background-color: #a7ff91;
  padding: 5px;
  font-size: medium;
}


.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}